<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Vacation search app{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

<script>
  function DeleteSearchParam(paramid) {

      const confirmation = confirm('Are you sure you want to delete this entry?');
      if (confirmation) {

          fetch('/delete/' + paramid, {
              method: 'DELETE',
          })
          .then(response => {
              if (response.ok) {

                  window.location.reload();
              }
          })
          .catch(error => {
              console.error('Error:', error);
          });
      }
  }
</script>

</head>
<body>

  <div class="topnav">
    <a class="{% if request.endpoint == 'main.index' %}active{% endif %}" href="{{ url_for('main.index') }}">Home</a>
    <a class="{% if request.endpoint == 'list.list_of_params' %}active{% endif %}" href="{{ url_for('list.list_of_params')}}">List all search params</a>
    <a class="{% if request.endpoint == 'insert.insert_new_param' %}active{% endif %}" href="{{ url_for('insert.insert_new_param')}}">Insert new param</a>
  </div>


<main>{% block content %}{% endblock %}</main>

</body>
</html>