{% extends "base.html" %}

{% block content %}
<br>

<form method="POST">
  {{ form.csrf_token }}
  {{form.country.label}}<br>
  {{form.country}}<br>
  {{form.date_from.label}}<br>
  {{form.date_from}}<br>
  {{form.date_to.label}}<br>
  {{form.date_to}}<br>
  {{form.stay_length_slider.label}}<br>
  <input type="range" id="stay_lenght_from" min="1" max="28" value="1" oninput="updateSliderValue()"><br>
  <input type="range" id="stay_lenght_to" min="1" max="28" value="28" oninput="updateSliderValue()"><br>
  <input type="text" name="stay_length_slider" id="stay_lenght_id" value="{{ form.stay_length_slider.data }}">
  {{form.stars.label}}<br>
  {{form.stars}}<br>
  {{form.max_price.label}}<br>
  {{form.max_price}}<br>
  {{form.transportation.label}}<br>
  {{form.transportation}}<br>
  {{form.amenities.label}}<br>
  {{form.amenities}}<br>
  {{form.departure_city.label}}<br>
  {{form.departure_city}}<br>
  {{form.rating.label}}<br>
  {{form.rating}}<br>
  {{form.submit}}

</form>

{% endblock %}